.home-container {
  min-height: 100vh;
}

.livestreams-header {
  display: flex;
  padding: 16px 40px 0 44px;
  justify-content: space-between;
}

.livestreams-text {
  padding-left: 0;
}

.start-streaming-button {
  margin-right: 6%;
}
