.home-container {
  background-color: #f7f7f7;
  min-height: 100vh;
}

.livestreams-header {
  display: flex;
  padding: 1%;
  justify-content: space-between;
}

.livestreams-text {
  padding-left: 5%;
}

.start-streaming-button {
  padding-right: 4%;
}
