header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 8px 12px;
  color: "white";
}

.logo {
  width: 140px;
  color: white;
  text-decoration: none;
}

.search-bar {
  width: 350px;
}

.avatar {
  cursor: pointer;
  display: flex;
  justify-content: end;
}

.auth-container {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
